%% -*- mode: erlang -*-
{ erl_opts
, [ debug_info
  , strict_validation
  , warn_export_vars
  , warn_exported_vars
  , warnings_as_errors
  , {parse_transform, cut}
  ]
}.

{deps, [{erlfmt, "0.4.2"}, {cut, "1.0.2"}, {getopt, "1.0.1"}]}.

{profiles, [{test, [{deps, [{tdiff, "0.1.2"}]}]}, {release, [{erl_opts, [no_debug_info]}]}]}.

{dialyzer, [{exclude_mods, [rebar3_format_prv, tqformat]}]}.

{xref_ignores, [{tqformat, init, 1}, rebar3_format_prv]}.
